### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [9]:
#using len function to calculate number of players 
#using .unique() to make sure 
pd.DataFrame({
    "Total Number of Players": [len(purchase_data["SN"].unique())]
})

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Obtain number of unique items
Number_of_Unique_Items = len(purchase_data["Item ID"].unique())        
Average_Price = purchase_data["Price"].mean()
Number_of_Purchases = purchase_data["Purchase ID"].count()
Total_Revenue = purchase_data["Price"].sum()

#create a summary data frame
Purchasing_Analysis=pd.DataFrame({
    "Number of Unique Items": [Number_of_Unique_Items],
    "Average Purchasing Price":[Average_Price],
    "Total Number of Purchases":[Number_of_Purchases],
    "Total Revenue":[Total_Revenue]
})

clean_purchasing_analysis = _df.dropna(how="any")
clean_ufo_df.count()

#display the data frame
Purchasing_Analysis

,Number of Unique Items,Average Purchasing Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
#Calculate the count of each gender
Total_Players=len(purchase_data["SN"].unique())
Male_Players=len(purchase_data.loc[purchase_data["Gender"]=="Male",:]["SN"].unique())
Female_Players=len(purchase_data.loc[purchase_data["Gender"]=="Female",:]["SN"].unique())
Other_Players=len(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]["SN"].unique())

#Create a dataframe which calculates percentage
Gender_Demographics=pd.DataFrame({
    "Gender": ["Male","Female","Other / Non-Disclosed"],
    "Total Count":[Male_Players, Female_Players, Other_Players],
    "Percentage of Players":[Male_Players/Total_Players*100, Female_Players/Total_Players*100,Other_Players/Total_Players*100]
    
})

#calling the dataframe
Gender_Demographics

                  Gender  Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
grouped_purchase_df = purchase_data.groupby(['Gender'])

grouped_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [33]:
Bins_Age=purchase_data

# creating bins for data storage
bins = [0, 9, 14, 19, 24, 29, 34, 39, 499]

# Categorizing
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

#using pd.cut
Bins_Age["Age Range"] = pd.cut(Bins_Age["Age"], bins, labels=group_names, include_lowest=True)
Age_group=Bins_Age.groupby(["Age Range"])

Age_Purchas=Age_group["Purchase ID"].count().reset_index()
Age_Summary=Age_group["SN"].nunique().reset_index()
Age_Summary["Percentage"]=(Age_Summary["SN"]/Age_Summary["SN"].sum()*100).map("{:.2f}%".format)
Age_Summary=Age_Summary.rename(columns={"SN": "Total"})

Age_Summary

  Age Range  Total Percentage
0       <10     17      2.95%
1     10-14     22      3.82%
2     15-19    107     18.58%
3     20-24    258     44.79%
4     25-29     77     13.37%
5     30-34     52      9.03%
6     35-39     31      5.38%
7       40+     12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80