### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#using len function to calculate number of players 
#using .unique() to make sure 
pd.DataFrame({
    "Total Number of Players": [len(purchase_data["SN"].unique())]
})

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Obtain number of unique items
Number_of_Unique_Items = len(purchase_data["Item ID"].unique())        
Average_Price = purchase_data["Price"].mean()
Number_of_Purchases = purchase_data["Purchase ID"].count()
Total_Revenue = purchase_data["Price"].sum()

#create a summary data frame
Purchasing_Analysis=pd.DataFrame({
    "Number of Unique Items": [Number_of_Unique_Items],
    "Average Purchasing Price":[Average_Price],
    "Total Number of Purchases":[Number_of_Purchases],
    "Total Revenue":[Total_Revenue]
})

clean_purchasing_analysis = Purchasing_Analysis.dropna(how="any")
clean_purchasing_analysis.count()

#display the data frame
Purchasing_Analysis

,Number of Unique Items,Average Purchasing Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Calculate the count of each gender
Total_Players=len(purchase_data["SN"].unique())
Male_Players=len(purchase_data.loc[purchase_data["Gender"]=="Male",:]["SN"].unique())
Female_Players=len(purchase_data.loc[purchase_data["Gender"]=="Female",:]["SN"].unique())
Other_Players=len(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]["SN"].unique())

#Create a dataframe which calculates percentage
Gender_Demographics=pd.DataFrame({
    "Gender": ["Male","Female","Other / Non-Disclosed"],
    "Total Count":[Male_Players, Female_Players, Other_Players],
    "Percentage of Players":[Male_Players/Total_Players*100, Female_Players/Total_Players*100,Other_Players/Total_Players*100]
    
})

#calling the dataframe
Gender_Demographics

                  Gender  Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#grouping the data based on gender
grouped_purchase_df = purchase_data.groupby(['Gender'])

#calculations
Gender_Purchase=grouped_purchase_df["Purchase ID"].count().reset_index()
Gender_Purchase = pd.merge(Gender_Purchase,grouped_purchase_df["Price"].mean().reset_index(name="Average Purchase Price"),on="Gender")
Gender_Purchase=pd.merge(Gender_Purchase,grouped_purchase_df["Price"].sum().reset_index(name="Total Purchase Value"),on="Gender")

Gender_Purchase

,Gender,Purchase ID,Average Purchase Price,Total Purchase Value
0,Female,113,3.203009,361.94
1,Male,652,3.017853,1967.64
2,Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
Bins_Age=purchase_data

# creating bins for data storage
bins = [0, 9, 14, 19, 24, 29, 34, 39, 499]

# Categorizing
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

#using pd.cut
Bins_Age["Age Range"] = pd.cut(Bins_Age["Age"], bins, labels=group_names, include_lowest=True)
Age_group=Bins_Age.groupby(["Age Range"])


Age_Purchas=Age_group["Purchase ID"].count().reset_index()
Age_Summary=Age_group["SN"].nunique().reset_index()
Total_Age_Summary=Age_Summary["SN"].sum()
Age_Summary["Percentage"]=(Age_Summary["SN"]/Total_Age_Summary*100).map("{:.2f}%".format)
Age_Summary=Age_Summary.rename(columns={"SN": "Total"})

Age_Summary

  Age Range  Total Percentage
0       <10     17      2.95%
1     10-14     22      3.82%
2     15-19    107     18.58%
3     20-24    258     44.79%
4     25-29     77     13.37%
5     30-34     52      9.03%
6     35-39     31      5.38%
7       40+     12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#calculations 
Age_Purchase=Age_group["Purchase ID"].count().reset_index()
Age_Purchase = pd.merge(Age_Purchase,Age_group["Price"].mean().reset_index(name="Average Purchase Price"),on="Age Range")
Age_Purchase=pd.merge(Age_Purchase,Age_group["Price"].sum().reset_index(name="Total Purchase Value"),on="Age Range")
Age_Purchase=Age_Purchase.rename(columns={"Purchase ID": "Purchase Count"})

Age_Purchase

  Age Range  Purchase Count  Average Purchase Price  Total Purchase Value
0       <10              23                3.353478                 77.13
1     10-14              28                2.956429                 82.78
2     15-19             136                3.035956                412.89
3     20-24             365                3.052219               1114.06
4     25-29             101                2.900990                293.00
5     30-34              73                2.931507                214.00
6     35-39              41                3.601707                147.67
7       40+              13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
Top_Spenders=purchase_data.groupby(["SN"])["Purchase ID"].count().reset_index(name="Purchase Count")
Top_Spenders=pd.merge(Top_Spenders,purchase_data.groupby(["SN"])["Price"].mean().reset_index(name="Average Purchase Price"))
#Sort in descending order
Top_Spenders=pd.merge(Top_Spenders,purchase_data.groupby(["SN"])["Price"].sum().reset_index(name="Total Purchases")).sort_values("Total Purchases",ascending=False)

Top_Spenders.head()

              SN  Purchase Count  Average Purchase Price  Total Purchases
360    Lisosia93               5                3.792000            18.96
246  Idastidru52               4                3.862500            15.45
106   Chamjask73               3                4.610000            13.83
275       Iral74               4                3.405000            13.62
281  Iskadarya95               3                4.366667            13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
Most_popular=purchase_data.groupby(["Item ID","Item Name"])["Purchase ID"].count().reset_index(name="Purchase Count").sort_values("Purchase Count",ascending=False)
Most_popular=pd.merge(Most_popular,purchase_data.groupby(["Item ID","Item Name"])["Price"].mean().reset_index(name="Item Price"),how="left",on=["Item ID","Item Name"])
Most_popular["Total Purchase Value"]=Most_popular["Purchase Count"]*Most_popular["Item Price"]

Most_popular.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,4.614615,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
2,145,Fiery Glass Crusader,9,4.580000,41.22
3,132,Persuasion,9,3.221111,28.99
4,108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
Most_Profitable=Most_popular.sort_values("Total Purchase Value",ascending =False)

Most_Profitable

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,92,Final Critic,13,4.614615,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
5,82,Nirvana,9,4.900000,44.10
2,145,Fiery Glass Crusader,9,4.580000,41.22
7,103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...,...
149,28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
169,126,Exiled Mithril Longsword,1,2.000000,2.00
154,125,Whistling Mithril Warblade,2,1.000000,2.00
177,104,Gladiator's Glaive,1,1.930000,1.93
174,42,The Decapitator,1,1.750000,1.75